@page "/deleteReservation"
@using BlazorBooking.Client.Services.Reservation;
@using BlazorBooking.Shared.Models.Reservation;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@inject NavigationManager NavigationManager
@inject IReservationService IReservationService
<h3>Delete room</h3>

<table class="table table-striped table-bordered bg-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Id Room</th>
            <th>User name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (reservationsList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
                 @foreach (var reservationElement in reservationsList)
                 {
                
                    <tr>
                        <td>@reservationElement.Id</td>
                        <td>@reservationElement.StartDate</td>
                        <td>@reservationElement.EndDate</td>
                        <td>@reservationElement.RoomId</td>
                        <td>@reservationElement.UserName</td>
                        <td>
                            <button type="button" class="btn btn-danger" @onclick="@(() => @Delete(@reservationElement.Id) )">Delete</button>
                            <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>
                        </td>
                    </tr>
                 }
        }
    </tbody>
</table>
@code {
    public ReservationsVm ReservatiuonResponse = new ReservationsVm();
    public List<ReservationDto> reservationsList = new List<ReservationDto>();

    protected override async Task OnInitializedAsync()
    {
        await GetReservations();
    }
    private async Task GetReservations()
    {
        reservationsList = (await IReservationService.GetReservations()).Reservations.ToList();
    }

    private async Task Delete(int id)
    {
        await IReservationService.DeleteReservation(id);
        NavigationManager.NavigateTo("/reservations");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/reservations");
    }
}
