@page "/deleteImage"
@using BlazorBooking.Client.Services.Image;
@using BlazorBooking.Shared.Models.Image;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

@inject NavigationManager NavigationManager
@inject IImageService IImageService

<PageTitle>Delete Image</PageTitle>

<h3>Delete Image</h3>

@*<div class="row">
    <div class="col-sm-4">
        <EditForm Model="@imageDto" OnSubmit="DeleteImg">

            <div class="mb-3">
                <label for="name" class="form-label">Id Img:</label>
                <InputNumber id="name" @bind-Value="imageDto.Id" class="form-control"></InputNumber>
            </div>


            <button type="submit" class="btn btn-primary">Delete</button>
            <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>
        </EditForm>
    </div>
</div>*@

<table class="table table-striped table-bordered bg-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>Podgląd Zdjęcia</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>

        @if (ImageResponse.Images == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var image in imagesList)
            {
                @foreach (var imageElement in image.Images)
                {
                    <tr>
                        <td>@imageElement.Id</td>
                        <td><img src="@($"data:image/png;base64,{Convert.ToBase64String(@imageElement.PhotoResource)}")" alt="Zdjęcie" width="300" height="200" /></td>
                        <td>
                            <button type="button" class="btn btn-danger" @onclick="@(() => @DeleteImg(@imageElement.Id) )">Delete</button>

                            <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@code {
    public ImageVm ImageResponse = new ImageVm();
    public List<ImageVm> imagesList = new List<ImageVm>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetImages();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    private async Task GetImages()
    {
        ImageResponse = await IImageService.GetImages();
        imagesList.Add(ImageResponse);
    }
    private async Task DeleteImg(int id)
    {
        await IImageService.DeleteImage(id);
        NavigationManager.NavigateTo("/images");
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/images");
    }
}
