@page "/searchrooms"
@using BookingManagementBlazor.Models.Room;
@using BookingManagementBlazor.Services.Room;
@inject NavigationManager NavigationManager
@inject IRoomService IRoomService

<PageTitle>Search Rooms</PageTitle>
<h3>Search Room</h3>


    <div class="mb-3">
        <label for="name" class="form-label">Enter the city:</label>
        <select @bind="miasto">
        @foreach (var element in City)
        {
            <option>@element</option>
        }
        </select>
    </div>

<table class="table table-striped table-bordered bg-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>PricePerNight</th>
            <th>Country</th>
            <th>City</th>
            <th>BuildingNumber</th>
            
        </tr>
    </thead>
    <tbody>

        @if (RoomResponse.Rooms == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
                @foreach (var roomElement in Pokoje)
                {
                    <tr>
                        <td>@roomElement.Id</td>
                        <td>@roomElement.Name</td>
                        <td>@roomElement.Capacity</td>
                        <td>@roomElement.PricePerNight</td>
                        <td>@roomElement.Country</td>
                        <td>@roomElement.City</td>
                        <td>@roomElement.BuildingNumber</td>
                    </tr>
                }
        }
    </tbody>
    <button type="button" class="btn btn-info" @onclick="@GetRooms">Filtruj pokoje</button>
</table>

@*<table class="table table-striped table-bordered bg-light">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>

        @if (RoomResponse.Rooms == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var roomElement in City)
            {
                <tr>
                    <td>@roomElement</td>
                </tr>
            }
        }
    </tbody>
    <button type="button" class="btn btn-info" @onclick="@GetRooms">Filtruj pokoje</button>
</table>*@

@code {

    public RoomsVm RoomResponse = new RoomsVm();
    public List<RoomsVm> roomsList = new List<RoomsVm>();
    public List<RoomDto> Rooms = new List<RoomDto>();
    public List<RoomDto> Pokoje = new List<RoomDto>();
    public string miasto = "Lublin";
    public List<string> City = new List<string>();
    protected override async Task OnInitializedAsync()
    {
        await GetRooms();
    }
    private async Task GetRooms()
    {
        City.Clear();
        RoomResponse = await IRoomService.GetRooms();
        Rooms = RoomResponse.Rooms.ToList();
        Pokoje = Rooms.Where(cos => cos.City == miasto).ToList();
        AddCityToList();
    }
    public void AddCityToList()
    {
        foreach (var element in Rooms)
        {
            string miasto = element.City;
            City.Add(miasto);
        }
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/searchrooms");
    }
}
